.snotifyToast__inner {
  margin-left: 55px;
  padding: 5px 15px 5px 15px;
}

.snotifyToast__title {
  font-size: 16px;
}

.snotifyToast__body {
  font-size: 14px;
}

.snotify-icon {
  left: -45px;
  right: auto;
}
