.table-b-table-show-dropdown{
  z-index: 5 !important;
}

.btn-secondary.nt_btn-outline-primary:focus,
.btn-secondary.nt_btn-outline-primary.focus {
  background-color: #444f78;
  border: 1px solid #444f78;
  box-shadow: none;
}